<section>
  <header>
    <h2>
      Listado de proyectos
    </h2>
  </header>
  <table>
    <thead>
      <tr>
        <th>
          Proyecto
        </th>
        <th>
          Inicio
        </th>
        <th>
          Fin
        </th>
        <th>
          Presupuesto
        </th>
        <th>
          Gastos
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <a routerLink="1">Mi primer proyecto</a>
        </th>
        <th>
          20-10-2020
        </th>
        <th>
          9-11-2020
        </th>
        <th>
          1.000€
        </th>
        <th>
          900€
        </th>
      </tr>
      <tr>
        <th>
          <a routerLink="2">El super proyecto</a>
        </th>
        <th>
          15-08-2020
        </th>
        <th>
          15-12-2020
        </th>
        <th>
          9.000€
        </th>
        <th>
          11.654€
        </th>
      </tr>
    </tbody>
  </table>
</section>
