<article>
  <header>
    <h2>
      Nombre del proyecto
    </h2>
    <p>Descripción del proyecto</p>
    <nav>
      <ul>
        <li>
          <a><b>Gastos</b></a>
        </li>
        <li>
          <a><b>Tareas</b></a>
        </li>
        <li>
          <a><i>Otros</i></a>
          <ul>
            <li>
              <a><i>Cerrar Proyecto</i></a>
              <a><i>Borrar Proyecto</i></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <p>Presupuesto: <b>1.000€</b> Gastos: <b>900€</b><i> Inicio: 20-10-2020 Fin: 9-11-2020 </i> <mark>Atención al
        presupuesto</mark></p>
  </main>
</article>
