<ab-article>
  <header *ngIf="loaded">
    <h2>
      {{ project.title }}
    </h2>
    <p>{{ project.description }}</p>
    <p>
      <ab-dates [start]="project.start"
                [end]="project.end"></ab-dates>
    </p>
  </header>
  <main>
    <ng-template #noDataYet>
      <ab-no-data-yet></ab-no-data-yet>
    </ng-template>
    <ng-container *ngIf="loaded else noDataYet">
      <aside>
        <header>
          <h3>Datos</h3>
        </header>
        <ab-label-value label="Inicio"
                        value="{{ projectView.start | date }}"></ab-label-value>
        <ab-label-value label="Fin"
                        value="{{ projectView.end | date }}"></ab-label-value>
        <ab-label-value label="Presupuesto"
                        value="{{ projectView.budget | number }} €"></ab-label-value>
        <ab-label-value label="Gastos"
                        value="{{ projectView.totalExpenses | number }} €"
                        [isOk]="false"></ab-label-value>
        <ab-label-value label="Ingresos"
                        value="{{ projectView.totalIncomes | number }} €"
                        [isOk]="true"></ab-label-value>
        <ab-label-value label="Beneficio"
                        value="{{ projectView.profit | number }} €"
                        [isOk]="projectView.profit>0"></ab-label-value>
        <ab-label-value label="Saldo"
                        value="{{ projectView.balance | number }} €"
                        [isOk]="projectView.balance>0"></ab-label-value>
      </aside>
      <section>
        <aside>
          <header>
            <h3>Tareas</h3>
          </header>
          <ab-label-value *ngFor="let task of tasks"
                          [label]=" task.title "
                          value="{{ task.done ? 'Hecho' : 'Pendiente' }}"
                          [isOk]="task.done"></ab-label-value>
        </aside>
        <aside>
          <header>
            <h3>Transacciones</h3>
          </header>
          <ab-label-value *ngFor="let transaction of transactions"
                          [label]=" transaction.title "
                          value="{{ transaction.amount | number }} €"
                          [isOk]="transaction.type==='Ingreso'"></ab-label-value>
        </aside>
      </section>
      <footer>
        <nav>
          <ul>
            <li>
              <a><i>Cancelar Proyecto</i></a>
            </li>
            <li>
              <a><i>Borrar Proyecto</i></a>
            </li>
          </ul>
        </nav>
      </footer>
    </ng-container>
  </main>
</ab-article>