<ab-article>
  <header>
    <nav>
      <h2>
        Gestión de proyectos
      </h2>
      <ul>
        <li>
          <a routerLink="new"><i>Nuevo proyecto</i></a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <ng-template #noDataYet>
      <ab-no-data-yet></ab-no-data-yet>
    </ng-template>
    <ng-container *ngIf="loaded else noDataYet">
      <table>
        <thead>
          <tr>
            <th>
              Proyecto
            </th>
            <th>
              Inicio
            </th>
            <th>
              Fin
            </th>
            <th>
              Presupuesto
            </th>
            <th>
              Gastos
            </th>
            <th>
              Ingresos
            </th>
            <th>
              Beneficio
            </th>
            <th>
              Saldo
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projectView of projectViews">
            <td>
              <a [routerLink]="[projectView.id]">{{ projectView.title }}</a>
            </td>
            <td>
              {{ projectView.start | date:'dd/MM/yyyy' }}
            </td>
            <td>
              {{ projectView.end | date:'dd/MM/yyyy' }}
            </td>
            <td>
              {{ projectView.budget | number }} €
            </td>
            <td>
              {{ projectView.totalExpenses | number }} €
            </td>
            <td>
              {{ projectView.totalIncomes | number }} €
            </td>
            <td>
              {{ projectView.profit | number }} €
            </td>
            <td>
              {{ projectView.balance | number }} €
              <sup *ngIf="projectView.balance<0">*</sup>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </main>
</ab-article>
