<ab-article>
  <header>
    <h2>
      Estado general de mis proyectos y tareas
    </h2>
  </header>
  <main>
    <ng-template #noDataYet>
      <ab-no-data-yet></ab-no-data-yet>
    </ng-template>
    <ng-container *ngIf="loaded else noDataYet">
      <aside *ngFor="let projectView of projectViews">
        <h3>
          <a [routerLink]="['projects', projectView.id]">{{ projectView.title }}</a>
        </h3>
        <p>
          <ab-dates [start]="projectView.start"
                    [end]="projectView.end"></ab-dates>
        </p>
        <p>Presupuesto: <b>{{ projectView.budget | number }} €</b></p>
        <p>Gastos: <b> {{ projectView.totalExpenses | number }} €</b></p>
        <p>Ingresos: <b> {{ projectView.totalIncomes | number }} €</b></p>
        <p>Beneficio: <b> {{ projectView.profit | number }} €</b><sup *ngIf="projectView.profit<0">*</sup>
        </p>
        <p>
          Saldo: <b> {{ projectView.balance | number }} €</b>
          <sup *ngIf="projectView.balance<0">*</sup>
        </p>
      </aside>
      <aside>
        <h3>Tareas</h3>
        <p>Completadas: <mark><b>{{ tasksView.total - tasksView.pending | number }}</b></mark></p>
        <p>Pendientes: <b> {{ tasksView.pending | number }} </b><sup>!</sup></p>
      </aside>
    </ng-container>
  </main>
</ab-article>
