<ab-article>
  <header>
    <h2>
      Estado general de mis proyectos y tareas
    </h2>
  </header>
  <main>
    <ng-template #noDataYet>
      <ab-no-data-yet></ab-no-data-yet>
    </ng-template>
    <ng-container *ngIf="loaded else noDataYet">
      <aside *ngFor="let projectView of projectViews">
        <h3>
          <a [routerLink]="['projects', projectView.id]">{{ projectView.title }}</a>
        </h3>
        <ab-dates [start]="projectView.start"
                  [end]="projectView.end"></ab-dates>
        <ab-data-value label="Presupuesto"
                       value="{{ projectView.budget | number }} €"></ab-data-value>
        <ab-data-value label="Gastos"
                       value="{{ projectView.totalExpenses | number }} €"></ab-data-value>
        <ab-data-value label="Ingresos"
                       value="{{ projectView.totalIncomes | number }} €"></ab-data-value>
        <ab-data-value label="Ingresos"
                       value="{{ projectView.totalExpenses | number }} €"></ab-data-value>
        <ab-data-value label="Beneficio"
                       value="{{ projectView.profit | number }} €"
                       [isOk]="projectView.profit>0"></ab-data-value>
        <ab-data-value label="Saldo"
                       value="{{ projectView.balance | number }} €"
                       [isOk]="projectView.balance>0"></ab-data-value>
      </aside>
      <aside>
        <h3>Tareas</h3>
        <ab-data-value label="Completadas"
                       value="{{ tasksView.total - tasksView.pending | number }}"
                       [isOk]="true"></ab-data-value>
        <ab-data-value label="Pendientes"
                       value="{{ tasksView.pending | number }}"
                       [isOk]="false"></ab-data-value>
      </aside>
    </ng-container>
  </main>
</ab-article>
